
.navbar {
  background-color: #4d7ff4;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add padding for better spacing */
}

.links {
  display: flex;
  gap: 20px; /* Add gap between links */
  font-size: 25px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: auto;
  margin-top: 20px;
  /* top: 20; */
}

.user {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
  margin-top: -50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

.home{
  text-align: center;
  font-size: 30px;
}